---
import "../styles/global.css";
---

<div
  class="bg-[url('/images/hero.jpg')] bg-no-repeat bg-cover bg-center bg-opacity-100 h-7/12"
>
  <div
    class="flex flex-col items-center justify-center text-center h-full bg-white/50 dark:bg-black/70"
  >
    <div class="mb-30">
      <h1
        class="flex flex-col items-center justify-center text-center font-bold sm:font-extrabold text-emerald-700 dark:text-emerald-600 text-5xl pt-20 sm:text-6xl md:text-8xl pb-10"
      >
        LOUNGEWEAR LOVE
      </h1>
      <div class="m-auto max-w-3xl">
        <p
          class="text-lg sm:text-2xl text-gray-900 dark:text-gray-100 capitalize"
        >
          For a limited time, stock up on some of our most gift-able picks.
          These steals won&apos;t stick around!
          {
            /* Snap them up quick, values like this are too good to
              last. */
          }
        </p>
      </div>
      <div
        class="mt-5 max-w-md mx-auto flex justify-center items-center md:mt-8"
      >
        <a
          href="/search"
          class="inline-flex items-center justify-center h-12 px-8 py-8 mr-6 font-medium border-transparent rounded-md text-xl text-white bg-emerald-900 hover:bg-emerald-800"
        >
          SHOP NOW
        </a>
      </div>
    </div>
  </div>
</div>
